Repository McGill-ECSE321-Winter2019/dp-27, pull requests merged in 2020-02, with the labels that each got.

#84 Add Student controller methods
  Backend/src/main/java/ca/mcgill/cooperator/controller/CompanyController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopDetailsController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseOfferingController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/EmployerContactController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentController.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CompanyDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CoopDetailsDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CoopDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CourseDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CourseOfferingDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/EmployerContactDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/StudentDto.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopDetailsService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopService.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/EmployerContactControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCoopTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentTests.java
Labels: backend

#82 Implement Cucumber test for Student uploading an offer letter
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/model/CoopStatus.java
  Backend/src/main/java/ca/mcgill/cooperator/model/ReportStatus.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentReportService.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/StudentSubmitOfferLetterIT.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCoopTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentTests.java
  Backend/src/test/resources/features/student/student_submit_offer_letter.feature
Labels: backend, testing

#86 Course controller and IT test refactor
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/EmployerReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/model/EmployerReport.java
  Backend/src/main/java/ca/mcgill/cooperator/model/StudentReport.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CourseService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/EmployerReportService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ReportSectionService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentReportService.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/ControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CourseControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/EmployerContactControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/EmployerReportControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/StudentReportControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCoopTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCourseTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceEmployerReportTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentReportTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentTests.java
Labels: backend, enhancement

#92 implemented company IT and fixed course offering IT
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/NotificationController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentController.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CompanyControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopDetailsControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CourseOfferingControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/EmployerContactControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/EmployerReportControllerIT.java
Labels: backend, testing

#91 Add collapsible left menu to Admin and Student layouts
  Frontend/.eslintrc.js
  Frontend/package.json
  Frontend/src/components/SidebarLink.vue
  Frontend/src/layouts/AdminLoggedInLayout.vue
  Frontend/src/layouts/LoggedInLayout.vue
  Frontend/src/layouts/StudentLoggedInLayout.vue
  Frontend/src/pages/admin/AdminCoops.vue
  Frontend/src/router/routes.js
  Frontend/yarn.lock
Labels: frontend

#94 Implement dummy logged-in user storage
  Frontend/src/boot/axios.js
  Frontend/src/config/index.js
  Frontend/src/router/index.js
  Frontend/src/router/routes.js
  Frontend/src/store/index.js
Labels: frontend

#101 [Student] Add page for submitting new Coop
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseOfferingController.java
  Backend/src/main/java/ca/mcgill/cooperator/dao/CourseOfferingRepository.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CourseOfferingService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentReportService.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopDetailsControllerIT.java
  Frontend/package.json
  Frontend/src/css/quasar.variables.scss
  Frontend/src/layouts/StudentLoggedInLayout.vue
  Frontend/src/pages/student/StudentAddNewCoop.vue
  Frontend/src/router/routes.js
  Frontend/src/store/store-flag.d.ts
  Frontend/yarn.lock
Labels: frontend

#106 Add Coop controller integration test for creating a Coop with partial CourseOffering
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopController.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/ControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopControllerIT.java
Labels: backend, testing

#107 added fields to notification in model
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/NotificationController.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/NotificationDto.java
  Backend/src/main/java/ca/mcgill/cooperator/model/Notification.java
  Backend/src/main/java/ca/mcgill/cooperator/service/NotificationService.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceNotificationTests.java
Labels: backend

#109 Add student FAQ page
  Frontend/src/data/student-faq/index.js
  Frontend/src/layouts/StudentLoggedInLayout.vue
  Frontend/src/pages/student/StudentFAQ.vue
  Frontend/src/router/routes.js
Labels: frontend

#108 fixed update service methods and implemented cucumber tests
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/EmployerReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/NotificationController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ReportSectionController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/dao/CoopRepository.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/NotificationDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/ReportSectionDto.java
  Backend/src/main/java/ca/mcgill/cooperator/model/Coop.java
  Backend/src/main/java/ca/mcgill/cooperator/model/EmployerReport.java
  Backend/src/main/java/ca/mcgill/cooperator/model/Notification.java
  Backend/src/main/java/ca/mcgill/cooperator/model/ReportStatus.java
  Backend/src/main/java/ca/mcgill/cooperator/model/StudentReport.java
  Backend/src/main/java/ca/mcgill/cooperator/service/AdminService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CompanyService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopDetailsService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CourseOfferingService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CourseService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/EmployerContactService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/EmployerReportService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/NotificationService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ReportSectionService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentReportService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentService.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/ControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopDetailsControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/EmployerReportControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/StudentReportControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/AdminApproveCoopIT.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/StudentGetCoopInfoIT.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/StudentSubmitOfferLetterIT.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/StudentUploadReportIT.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceAdminTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCompanyTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCoopDetailsTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCoopTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCourseOfferingTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCourseTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceEmployerContactTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceEmployerReportTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceNotificationTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceReportSectionTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentReportTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentTests.java
  Backend/src/test/resources/features/admin/admin_approve_coop.feature
Labels: backend, fix
