Repository McGill-ECSE321-Winter2019/dp-27, pull requests merged in 2020-03, with the labels that each got.

#118 Update error messages to include originating layer
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/service/AdminService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/BaseService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CompanyService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopDetailsService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CourseOfferingService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CourseService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/EmployerContactService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/EmployerReportSectionService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/EmployerReportService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/NotificationService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ReportConfigService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ReportSectionConfigService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentReportSectionService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentReportService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentService.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/AdminControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/BaseControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CompanyControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopDetailsControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CourseControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CourseOfferingControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/EmployerContactControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/EmployerReportControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/StudentReportControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/AdminApproveCoopIT.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/StudentGetCoopInfoIT.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/StudentUploadReportIT.java
  Backend/src/test/java/ca/mcgill/cooperator/service/BaseServiceTest.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceAdminTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCompanyTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCoopDetailsTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCoopTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCourseOfferingTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCourseTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceEmployerContactTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceEmployerReportSectionTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceEmployerReportTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceNotificationTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentReportSectionTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentReportTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentTests.java
Labels: backend, enhancement

#121 Implement Admin report configuration page
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ReportConfigController.java
  Backend/src/main/resources/application.properties
  Frontend/quasar.conf.js
  Frontend/src/components/admin/ReportConfigurationDeletePopup.vue
  Frontend/src/components/admin/ReportConfigurationItem.vue
  Frontend/src/components/admin/ReportConfigurationPopup.vue
  Frontend/src/components/admin/ReportSectionConfigurationItem.vue
  Frontend/src/layouts/AdminLoggedInLayout.vue
  Frontend/src/pages/admin/AdminReportConfigPage.vue
  Frontend/src/pages/admin/AdminStudents.vue
  Frontend/src/router/routes.js
Labels: frontend

#124 Add unique constraints to model classes
  Backend/src/main/java/ca/mcgill/cooperator/model/Admin.java
  Backend/src/main/java/ca/mcgill/cooperator/model/Course.java
  Backend/src/main/java/ca/mcgill/cooperator/model/EmployerContact.java
  Backend/src/main/java/ca/mcgill/cooperator/model/ReportConfig.java
  Backend/src/main/java/ca/mcgill/cooperator/model/Student.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/StudentUploadReportIT.java
  Backend/src/test/java/ca/mcgill/cooperator/service/BaseServiceTest.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceAdminTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCourseOfferingTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCourseTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceEmployerContactTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceEmployerReportSectionTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceEmployerReportTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceReportConfigTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceReportSectionConfigTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentReportSectionTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentReportTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentTests.java
Labels: backend, fix

#125 Add integration tests for ReportConfig and ReportSectionConfig
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ReportSectionConfigController.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ReportSectionConfigService.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CompanyControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/ReportConfigControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/ReportSectionConfigControllerIT.java
Labels: backend, testing

#128 [Frontend] Implement basic Admin coop review page
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopController.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopService.java
  Frontend/quasar.conf.js
  Frontend/src/boot/common.js
  Frontend/src/components/admin/CoopReviewPageNewCoopItem.vue
  Frontend/src/layouts/AdminLoggedInLayout.vue
  Frontend/src/pages/admin/AdminCoopReviewPage.vue
  Frontend/src/router/routes.js
Labels: frontend

#126 [Frontend] Implement ReportSectionConfig functionality
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ReportSectionConfigController.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/ReportSectionConfigDto.java
  Backend/src/main/java/ca/mcgill/cooperator/model/ReportSectionConfig.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopDetailsService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ReportSectionConfigService.java
  Backend/src/test/java/ca/mcgill/cooperator/service/BaseServiceTest.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceReportSectionConfigTests.java
  Frontend/src/components/admin/ReportConfigurationItem.vue
  Frontend/src/components/admin/ReportConfigurationPopup.vue
  Frontend/src/components/admin/ReportSectionConfigurationItem.vue
  Frontend/src/components/admin/ReportSectionConfigurationPopup.vue
  Frontend/src/pages/admin/AdminReportConfigPage.vue
  Frontend/src/pages/student/StudentAddNewCoop.vue
Labels: backend, frontend

#134 student page filtering
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseOfferingController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentController.java
  Backend/src/main/java/ca/mcgill/cooperator/dao/CourseOfferingRepository.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CourseOfferingService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CourseService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ServiceUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentService.java
  Backend/src/test/java/ca/mcgill/cooperator/service/BaseServiceTest.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCourseOfferingTests.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentTests.java
  Frontend/src/boot/common.js
  Frontend/src/pages/admin/AdminStudents.vue
  Frontend/src/pages/admin/AdminStudentsPage.vue
  Frontend/src/router/routes.js
Labels: backend, frontend

#133 Add course name input to new Coop page for Student
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopController.java
  Frontend/src/pages/student/StudentAddNewCoop.vue
Labels: backend, fix, frontend

#132 Csv parser frontend
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseOfferingController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/SeasonController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentController.java
  Backend/src/main/java/ca/mcgill/cooperator/dao/StudentRepository.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentService.java
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/quasar.conf.js
  Frontend/src/boot/clipboard.js
  Frontend/src/components/admin/NotificationPopup.vue
  Frontend/src/layouts/AdminLoggedInLayout.vue
  Frontend/src/pages/admin/CsvParse.vue
  Frontend/src/router/routes.js
Labels: frontend

#136 Set up automated background jobs
  Backend/pom.xml
  Backend/src/main/java/ca/mcgill/cooperator/CooperatorApplication.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopDetailsController.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CoopDetailsDto.java
  Backend/src/main/java/ca/mcgill/cooperator/model/CoopDetails.java
  Backend/src/main/java/ca/mcgill/cooperator/model/CoopStatus.java
  Backend/src/main/java/ca/mcgill/cooperator/schedule/NightlyTasks.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopDetailsService.java
  Backend/src/main/resources/log4j.properties
  Backend/src/test/java/ca/mcgill/cooperator/service/BaseServiceTest.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCoopDetailsTests.java
Labels: backend

#140 update put controller methods to deal with null values and add id path variable
  Backend/src/main/java/ca/mcgill/cooperator/controller/AdminController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CompanyController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopDetailsController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseOfferingController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/EmployerContactController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/EmployerReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/EmployerReportSectionController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/NotificationController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ReportConfigController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ReportSectionConfigController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentReportSectionController.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/AdminDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CompanyDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CoopDetailsDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CoopDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CourseDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CourseOfferingDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/EmployerContactDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/EmployerReportDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/NotificationDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/StudentDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/StudentReportDto.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CompanyService.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/AdminControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/BaseControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CompanyControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopDetailsControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CourseControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CourseOfferingControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/EmployerContactControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/ReportConfigControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/ReportSectionConfigControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/AdminApproveCoopIT.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceCompanyTests.java
Labels: backend

#138 Initial implemention of Student homepage
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseOfferingController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentController.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/CoopDetailsDto.java
  Backend/src/main/java/ca/mcgill/cooperator/model/CoopStatus.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopDetailsService.java
  Backend/src/main/resources/application.properties
  Backend/src/test/java/ca/mcgill/cooperator/controller/BaseControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/CoopDetailsControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/AdminApproveCoopIT.java
  Backend/src/test/java/ca/mcgill/cooperator/cucumber/StudentSubmitOfferLetterIT.java
  Frontend/package.json
  Frontend/src/boot/common.js
  Frontend/src/components/admin/CoopReviewPageNewCoopItem.vue
  Frontend/src/components/student/CoopDetailsListView.vue
  Frontend/src/components/student/CoopDetailsPopup.vue
  Frontend/src/components/student/HomeCurrentCoopInfoWidget.vue
  Frontend/src/components/student/HomeCurrentCoopSection.vue
  Frontend/src/components/student/HomeMainInfo.vue
  Frontend/src/components/student/HomeUpcomingCoopsSection.vue
  Frontend/src/components/student/HomeUpcomingCoopsSectionItem.vue
  Frontend/src/pages/student/StudentHome.vue
  Frontend/src/pages/student/StudentHomePage.vue
  Frontend/src/pages/student/StudentSpecificCoop.vue
  Frontend/src/router/index.js
  Frontend/src/router/routes.js
  Frontend/yarn.lock
Labels: frontend

#144 Fix bugs on Student new Coop page
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopController.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/NotificationDto.java
  Backend/src/main/java/ca/mcgill/cooperator/schedule/NightlyTasks.java
  Frontend/src/boot/common.js
  Frontend/src/components/student/NotificationListItem.vue
  Frontend/src/components/student/NotificationsList.vue
Labels: backend, fix, frontend
