Repository McGill-ECSE321-Winter2019/dp-27, pull requests merged in 2020-04, with the labels that each got.

#145 Make all Javadoc consistent + add 400 Bad Request handler
  Backend/src/main/java/ca/mcgill/cooperator/config/DataSourceConfig.java
  Backend/src/main/java/ca/mcgill/cooperator/config/TestDataSourceConfig.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/AdminController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/BaseController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CSVParserController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CompanyController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CoopDetailsController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/CourseOfferingController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/EmployerContactController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/EmployerReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/EmployerReportSectionController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/NotificationController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ReportConfigController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/ReportSectionConfigController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/SeasonController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentReportSectionController.java
  Backend/src/main/java/ca/mcgill/cooperator/dao/CoopRepository.java
  Backend/src/main/java/ca/mcgill/cooperator/dao/StudentRepository.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/NotificationDto.java
  Backend/src/main/java/ca/mcgill/cooperator/service/AdminService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CompanyService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopDetailsService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CoopService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CourseOfferingService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/CourseService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/EmployerContactService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/EmployerReportSectionService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/EmployerReportService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/NotificationService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ReportConfigService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ReportSectionConfigService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ServiceUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentReportSectionService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentReportService.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentService.java
Labels: backend, enhancement

#147 Implement Student offer letter editing + remove @Lob annotations
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/model/EmployerReport.java
  Backend/src/main/java/ca/mcgill/cooperator/model/EmployerReportSection.java
  Backend/src/main/java/ca/mcgill/cooperator/model/StudentReport.java
  Backend/src/main/java/ca/mcgill/cooperator/model/StudentReportSection.java
  Frontend/src/boot/common.js
  Frontend/src/components/admin/CoopReviewPageNewCoopItem.vue
  Frontend/src/components/admin/HomeMainInfo.vue
  Frontend/src/components/admin/NotificationPopup.vue
  Frontend/src/components/admin/ReportConfigurationPopup.vue
  Frontend/src/components/admin/ReportSectionConfigurationPopup.vue
  Frontend/src/components/student/EditOfferLetterPopup.vue
  Frontend/src/components/student/HomeUpcomingCoopsSection.vue
  Frontend/src/components/student/HomeUpcomingCoopsSectionItem.vue
  Frontend/src/components/student/NotificationsList.vue
  Frontend/src/pages/admin/CsvParse.vue
  Frontend/src/pages/student/StudentAddNewCoop.vue
Labels: backend, fix, frontend

#150 Add dark mode to frontend
  Frontend/quasar.conf.js
  Frontend/src/layouts/AdminLoggedInLayout.vue
  Frontend/src/layouts/StudentLoggedInLayout.vue
Labels: frontend

#152 Make frontend code consistent
  Frontend/quasar.conf.js
  Frontend/src/components/student/EditOfferLetterPopup.vue
  Frontend/src/components/student/NotificationListItem.vue
  Frontend/src/components/student/NotificationsList.vue
  Frontend/src/layouts/AdminLoggedInLayout.vue
  Frontend/src/pages/BasePage.vue
  Frontend/src/pages/admin/AdminCompanies.vue
  Frontend/src/pages/admin/AdminCoopReviewPage.vue
  Frontend/src/pages/admin/AdminCoops.vue
  Frontend/src/pages/admin/AdminHome.vue
  Frontend/src/pages/admin/AdminReportConfigPage.vue
  Frontend/src/pages/admin/AdminStudentsPage.vue
  Frontend/src/pages/admin/CsvParse.vue
  Frontend/src/pages/student/StudentAddNewCoop.vue
  Frontend/src/pages/student/StudentCoops.vue
  Frontend/src/pages/student/StudentFAQ.vue
  Frontend/src/pages/student/StudentHomePage.vue
  Frontend/src/pages/student/StudentNotifications.vue
  Frontend/src/router/index.js
  Frontend/src/router/routes.js
Labels: enhancement, frontend

#158 notification controller IT
  Backend/src/main/java/ca/mcgill/cooperator/controller/ControllerUtils.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/NotificationController.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/AdminDto.java
  Backend/src/main/java/ca/mcgill/cooperator/dto/NotificationDto.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/BaseControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/NotificationControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceNotificationTests.java
Labels: backend, testing

#143 Implement JWT-based authentication
  Backend/pom.xml
  Backend/src/main/java/ca/mcgill/cooperator/config/WebSecurityConfig.java
  Backend/src/main/java/ca/mcgill/cooperator/controller/AuthController.java
  Backend/src/main/java/ca/mcgill/cooperator/jwt/JwtAuthenticationEntryPoint.java
  Backend/src/main/java/ca/mcgill/cooperator/jwt/JwtAuthenticationProvider.java
  Backend/src/main/java/ca/mcgill/cooperator/jwt/JwtRequest.java
  Backend/src/main/java/ca/mcgill/cooperator/jwt/JwtRequestFilter.java
  Backend/src/main/java/ca/mcgill/cooperator/jwt/JwtStudentDetailsService.java
  Backend/src/main/java/ca/mcgill/cooperator/jwt/JwtTokenUtil.java
Labels: backend

#160 admin create notification page and route
  Backend/src/main/java/ca/mcgill/cooperator/controller/NotificationController.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/BaseControllerIT.java
  Backend/src/test/java/ca/mcgill/cooperator/controller/NotificationControllerIT.java
  Frontend/src/layouts/AdminLoggedInLayout.vue
  Frontend/src/pages/admin/AdminCreateNotificationPage.vue
  Frontend/src/pages/admin/AdminNotifications.vue
  Frontend/src/pages/admin/AdminStudentsPage.vue
  Frontend/src/router/routes.js
Labels: frontend

#163 Add sorting for Coops and Notifications
  Frontend/src/boot/common.js
  Frontend/src/components/student/HomeUpcomingCoopsSection.vue
  Frontend/src/components/student/NotificationsList.vue
  Frontend/src/layouts/AdminLoggedInLayout.vue
  Frontend/src/layouts/StudentLoggedInLayout.vue
  Frontend/src/pages/admin/AdminCoopReviewPage.vue
Labels: frontend

#165 Add Student notifications menu from navbar
  Backend/src/main/java/ca/mcgill/cooperator/controller/NotificationController.java
  Frontend/src/components/student/HomeNotificationsMenuItem.vue
  Frontend/src/components/student/NotificationListItem.vue
  Frontend/src/layouts/StudentLoggedInLayout.vue
Labels: frontend

#167 get new students frontend and backend
  Backend/src/main/java/ca/mcgill/cooperator/controller/StudentController.java
  Backend/src/main/java/ca/mcgill/cooperator/service/StudentService.java
  Backend/src/test/java/ca/mcgill/cooperator/service/CooperatorServiceStudentTests.java
  Frontend/src/components/admin/HomeMainInfo.vue
  Frontend/src/pages/admin/AdminStudentsPage.vue
Labels: backend, frontend

#168 Fix frontend bugs + Improve UX
  Backend/src/main/java/ca/mcgill/cooperator/controller/ReportController.java
  Backend/src/main/java/ca/mcgill/cooperator/service/ReportService.java
  Frontend/src/components/admin/CoopReviewPageNewCoopItem.vue
  Frontend/src/components/admin/HomeCurrentCoopStudentItem.vue
  Frontend/src/components/admin/HomeMainInfo.vue
  Frontend/src/components/admin/NotificationPopup.vue
  Frontend/src/components/admin/ReportConfigurationPopup.vue
  Frontend/src/components/admin/ReportSectionConfigurationItem.vue
  Frontend/src/components/admin/ReportSectionConfigurationPopup.vue
  Frontend/src/components/student/CoopDetailsListView.vue
  Frontend/src/components/student/CoopDetailsPageExistingCoopDetails.vue
  Frontend/src/components/student/CoopDetailsPageNewCoopDetails.vue
  Frontend/src/components/student/HomeCurrentCoopSection.vue
  Frontend/src/layouts/AdminLoggedInLayout.vue
  Frontend/src/layouts/LoginLayout.vue
  Frontend/src/pages/admin/AdminCreateNotificationPage.vue
  Frontend/src/pages/admin/AdminHomePage.vue
  Frontend/src/pages/admin/AdminProfile.vue
  Frontend/src/pages/admin/AdminStudent.vue
  Frontend/src/pages/admin/AdminStudentsPage.vue
  Frontend/src/pages/admin/AdminVerifyCsvPage.vue
  Frontend/src/pages/student/StudentCoopDetailsPage.vue
  Frontend/src/pages/student/StudentProfile.vue
  Frontend/src/router/routes.js
Labels: frontend

#169 Update README
  README.md
Labels: documentation
